@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #fafafa;
}
.img{
    height: 150px;
    width: 260px;
    object-fit: cover;
}
span {
    color: gray;
}
#nprogress .bar {
    background-color: indianred;
  }
  #nprogress .peg {
    box-shadow: 0 0 10px #FFBB00, 0 0 5px #FFBB00;
  }